<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/favoriet.css">
  <title>Document</title>
</head>
<body>
  <%- include('partials/header')%>
  <nav class="navpic">
    <img src="../images/info1.jpg" />
  </nav>
  <div class="charTabel">
  <section class="testing">
    <% for(let i=0; i<4;i++){ %>
      <div class="charSolo">
      <h1>
        <%= avatarBackpack[i].item.name %>
      </h1>
      <article class="articleAvatar">
        <img src="<%= avatarBackpack[i].item.images.icon %>" />
      </article>
    </div>
      <% } %>
  </section>
  <section class="testing">
    <% for(let i=4; i<8;i++){ %>
      <div class="charSolo">
      <h1>
        <%= avatarPickaxe[i].item.name %>
      </h1>
      <article>
        <img src="<%= avatarPickaxe[i].item.images.icon %>" />
      </article>
    </div>
      <% } %>
  </section>
</div>
  <%- include('partials/footer') %>
  
</body>
</html>